<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero API</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    </style>
</head>

<body>
    <div class="gif">
        <img src="https://i.pinimg.com/originals/4c/5f/5c/4c5f5c71edccb657b8fdee89e568bc03.gif" alt="">

        <div class="container">
            <div class="header">
                <h1 class="logo">Superhero API</h1>
                <span>Explore a database of superheroes</span>
            </div>
            <form class="search-container" method="GET" action="/search">
                <input type="text" class="search-input" name="name" placeholder="Search superheroes...">
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>
    </div>
</body>
</html>