<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Find Your SuperHero</title>
  <link rel="stylesheet" href="/css/someResults.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<section class="app">
  <% for (let i=0; i < results.length; i++) { %>
    <img src="<%= results[i].image.url %>" data-value="<%= results[i].id %>" onClick="window.location='/searchById?id=<%= results[i].id %>';"></img>
  <% } %>
</section>


 <script>
   // Función para obtener los detalles del superhéroe al hacer clic en la imagen
   async function getSuperheroDetails(event) {
     const superheroId = event.target.getAttribute('data-value');
     try {
       const response = await fetch(`/searchById?id=${superheroId}`);
       const data = await response.json();

     } catch (error) {
       console.error('Error al obtener detalles del superhéroe:', error);
     }
   }
 </script>

</body>

</html>
