<!DOCTYPE html>
<html>

<head>
    <title>Cerrar Ventana</title>
</head>

<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit" id="cerrarBtn">Cargar Imagen</button>
    </form>
    <!-- <script>
        document.getElementById("cerrarBtn").addEventListener("click", function() {
          setTimeout(function() {
            window.close();
          }, 1000); // Espera 1000 milisegundos (1 segundo) antes de cerrar la ventana
        });
        </script> -->

</body>

</html>